ignore_regexps = [
    r'!ignore',
    r'!automated',
    r'^(.{3,3}\s*:)?\s*[fF]irst commit.?\s*$',
    r'^$'
]

section_regexps = [
    ('Added', [r'^([aA]dd|[cC]reate|[iI]mplement)\s*']),
    ('Changed', [r'^([cC]hange|[rR]efactor|[uU]pdate|[mM]ove|[rR]evise)\s*']),
    ('Deprecated', [r'^[dD]eprecate\s*']),
    ('Removed', [r'^([rR]emove|[dD]elete)\s*']),
    ('Fixed', [r'^([fF]ix|[rR]epair)\s*']),
    ('Security', [r'^[sS]ecure\s*']),
    ('Other', None)
]

body_process = ReSub(r'((^|\n)[A-Z]\w+(-\w+)*: .*(\n\s+.*)*)+$', r'') | strip

tag_filter_regexp = r'^[0-9]+\.[0-9]+(\.[0-9]+)?'

unreleased_version_label = "[Unreleased]"

revs = []

output_engine = mustache("./.gitchangelog/.gitchangelog.tpl")

include_merge = True

publish = stdout
